@charset "UTF-8";

@font-face{
    src: url('../fontes/Bebas_Neue/BebasNeue-Regular.ttf') format(truetype);
    font-family: 'Bebas neue';
}

@font-face{
    src: url('../fontes/idroid.otf') format('opentype');
    font-family: 'Android';
}

:root{
    --cor0: #004B23;
    --cor1: #007200;
    --cor2: #38B000;
    --cor3: #70E000;
    --cor4: #9EF01A;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
    --fonte-destaque: 'Bebas neue';
    --fonte-android: 'Android', 'cursive';
}
    
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, #007200,#9ef01aaf); background-attachment: fixed;
    font-family: var(--fonte-padrao);
}

main p{
    margin: 10px 0px 10px 0px;
    text-align: justify;
    text-indent: 10px;
    line-height: 2em;
}

main strong{
    color: #004B23
}

main a{
    text-decoration: none;
    color: #007200;
}

main a:hover{
    text-decoration: underline;
}

header{
    background-color: #004b2357;
    min-height: 150px;
}

header > p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 5px #00000070;
    padding-bottom: 20px;
}

header > h1{
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px #00000070;
    padding-top: 20px;
}

nav{
    background-color: #004b2357;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.171);
    text-align: center;
}

nav > a{
    color: #70E000;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

nav > a:hover{
    background-color: #70E000;
    color: #004B23;
    border-radius: 5px;
    transition-duration: .2s;
}


main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000079;
    margin-bottom: 30px;
    border-radius: 20px;
}

main h1{
    font-family: var(--fonte-android);
    color: #004B23;
    background-image: linear-gradient(to right, #039e03c5, transparent);
    padding-left: 10px;
    font-weight: normal;
}

main h2{
    font-family: var(--fonte-android);
    color: #004B23;
    background-image: linear-gradient(to right, #039e03c5, transparent);
    padding-left: 10px;
    font-weight: normal;
}

main img{ 
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #38b000a8;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    border-radius: 10px;
    background-color: #38b000a8;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
    padding: 10px;
}

aside > h3{
    background-color: #007200;
    color: white;
    text-indent: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: normal;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    padding-left: 10px;
}

footer{
    background-color: #38B000;
    color: #004B23;
    text-align: center;
    padding: 5px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: #007200;
}